@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply rounded-full border border-stone-200 px-4 py-2 text-sm transition-all duration-300 placeholder:text-stone-500 focus:outline-none focus:ring focus:ring-yellow-400 md:px-6 md:py-3;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 4px;
  }


  ::-webkit-scrollbar-thumb {
    background-color: #292524;
    border-radius: 2.8rem;
  }

  .loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #0000;
    border-right-color: #292524;
    position: relative;
    animation: l24 .7s infinite linear;
  }

  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    inset: -8px;
    border-radius: 50%;
    border: inherit;
    animation: inherit;
    animation-duration: 2s;
  }

  .loader:after {
    animation-duration: 4s;
  }

  @keyframes l24 {
    100% {
      transform: rotate(1turn)
    }
  }
}